In [14]:
import csv
import mysql.connector
from datetime import datetime

In [15]:
mydb = mysql.connector.connect(
    host="localhost",
    database="moviehub",
    user="root",
    password="mysqlpassword"
)

mycursor = mydb.cursor()

In [18]:
sql = "INSERT INTO TMDBMovie(title, original_title, release_date, runtime, is_adult, imdb_link, overview, popularity, poster_path, collection_belongs_to, revenue, budget, tagline, homepage_link) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

ratingsql = "INSERT INTO IMDBRatings(imdb_link,rating,votes) VALUES (%s, %s, %s)"

ratingmovie = "INSERT INTO MovieRatings(uid,mid,rating) VALUES (%s, %s, %s)"

mappingsql = "INSERT INTO Mapping(movieid,imDBId,tmdbId) VALUES (%s, %s, %s)"

imdbSQL = "INSERT INTO IMDBMovie(primary_title, original_title, release_date, runtime, is_adult, imdb_link, genres) VALUES (%s, %s, %s, %s, %s, %s, %s)"

sqlPerson = "INSERT INTO TMDBPerson(id, name, birthday, deathday, alias_name, gender, biography, profile_path, popularity, place_of_birth, homepage, home_country, imdb_link) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

imdbPerson = "INSERT INTO IMDBPerson(id, name, birthday, deathday, primary_profession, known_for, imdb_link) VALUES (%s, %s, %s, %s, %s, %s, %s)"

In [29]:
# insert imdb movies in imdbMovie table
count = 0
with open('data/imdb/title.basics.tsv', 'r',encoding='utf8') as f:
    reader = csv.reader(f, delimiter='\t')
    for row in reader:
        if count == 0:
            count += 1
            continue
        if count >= 304645:
            break

        count += 1
        id = row[0]
        imdb_id = row[1]
        primaryTitle = row[2]
        originalTitle = row[3]
        isAdult = row[4]
        startYear = row[5]
        endYear = row[6]
        runtimeMinutes = row[7]
        genres = row[8]
        # convert start year to date type for sql
        if startYear != '\\N':
            startYear = datetime.strptime(startYear, '%Y')
        else:
            startYear = datetime.strptime("2000", '%Y')
        # convert runtime to int
        if runtimeMinutes != '\\N':
            runtimeMinutes = int(runtimeMinutes)
        else:
            runtimeMinutes = None

        if count > 254645: 
            vals = (primaryTitle, originalTitle, startYear, runtimeMinutes,
                    isAdult, id, genres)
            mycursor.execute(imdbSQL, vals)
            mydb.commit()

In [28]:
count = 0
with open('data/tmdb/movie.tsv', 'r',encoding="utf8") as f:
    reader = csv.reader(f, delimiter='\t')
    for row in reader:
        if count == 0:
            count += 1
            continue
        with open("ids.txt", "r") as file:
            ids = eval(file.readline())

        if int(row[1]) not in ids:
            continue

        count+=1

        id = row[0]
        film_id = row[1]
        title = row[2]
        isAdult = row[3]
        backdrop_path = row[4]
        budget = row[5]
        homepage = row[6]
        imdb_id = row[7]
        original_language = row[8]
        original_title = row[9]
        overview = row[10]
        popularity = row[11]
        poster_path = row[12]
        release_date = row[13]
        revenue = row[14]
        runtime = row[15]
        vote_average = row[16]
        vote_count = row[17]
        status = row[18]
        tagline = row[19]
        collection_id = row[20]
        isAdult = bool(isAdult)
        if isAdult:
            isAdult = 1
        else:
            isAdult = 0
        try:
            vals = (title, original_title, release_date, runtime, isAdult, imdb_id, overview,
                    popularity, poster_path, collection_id, revenue, budget, tagline, homepage)

            mycursor.execute(sql, vals)
            mydb.commit()
        except Exception as e:
            print(e)
            print(vals)

In [8]:
count = 0
with open('data/tmdb/PERSON.tsv', 'r',encoding='utf8') as f:
    reader = csv.reader(f, delimiter='\t')
    # for each line in the file
    for row in reader:

        if count == 0:
            count += 1
            continue
        if count >= 50000:
            break
        count += 1
        # get the movie id

        id = row[1]
        name = row[2]
        birthday = row[5]
        deathday = row[7]
        alias_name = row[6]
        gender = row[8]
        biography = row[9]
        profile_path = row[10]
        popularity = row[11]
        place_of_birth = row[12]
        homepage = row[15]
        home_country = row[17]
        imdb_link = row[14]
        if birthday=='':
            birthday=None
        if deathday=='':
            deathday=None
        try:
            vals = (id, name, birthday, deathday, alias_name, gender, biography, profile_path, popularity, place_of_birth, homepage, home_country, imdb_link)
            mycursor.execute(sqlPerson, vals)
            mydb.commit()
        except Exception as e:
            print(e)
            print(vals)

1054 (42S22): Unknown column 'id' in 'field list'
('984533', 'Adam Willis', None, None, '', '2', '', '', '0.6', '', '', '', 'nm1853964')
1406 (22001): Data too long for column 'alias_name' at row 1
('113088', 'Charleen Richards', None, None, 'Charleen Richard-Steeves,Charlene Richards,Charleen Richards-Steeves,Charlene Richards-Steeves,Charleen Richards-Stevees,Charleen Richards-Stevens,Charleen Richards-Steves,Charleen Rochards-Steeves,Charleen Richards Steeves,Charleen Steeves,Charlene Steeves,Charleen Steven', '1', '', '', '0.6', '', '', '', 'nm0724009')
1406 (22001): Data too long for column 'alias_name' at row 1
('97634', 'José Antonio Pérez Giner', '1934-01-01', '2018-04-13', 'J.A. Perez Giner,J.A. Pérez Giner,Jose A. Perez Giner,Jose A. Perez-Giner,Jose A. Pérez Giner,Jose Antonio P. Giner,Jose Antonio Perez Giner,Josep A. Pérez-Giner ,Josep Anton Perez Giner,Josep Anton Pérez Giner,Josep Antoni Perez-Giner,Josep Antoni Pérez Giner,José A. Perez Giner,José A. Pérez Giner,José Antonio P. Giner', '2', '', '', '1.225', 'València, València, Comunitat Valenciana, Spain', '', 'Spain', 'nm0701932')
1406 (22001): Data too long for column 'alias_name' at row 1
('1032', 'Martin Scorsese', '1942-11-17', None, 'Мартин Скорсезе,马丁·斯科塞斯,มาร์ติน สกอร์เซซี,マーティン・スコセッシ,마틴 스코세이지,Martin Marcantonio Luciano Scorsese,Μάρτιν Μαρκαντόνιο Λουτσιάνο Σκορσέζε,Μάρτιν Σκορσέζε,마틴 스콜세지,Мартін Скорсезе,مارتین اسکورسیزی,מרטין סקורסזה,मार्टिन स्कोर्सेसे,মার্টিন স্কোরসেজি,மார்ட்டின் ஸ்கோர்செசி', '2', "\u200bAmerican film director, screenwriter, producer, actor, and film historian Martin Marcantonio Luciano Scorsese made the short films while he attended New York University's film school; these include “What's a Nice Girl Like You Doing in a Place Like This?” (1963), “It's Not Just You, Murray!” (1964), and his most famous short of the period “The Big Shave” (1967). This came shortly after seriously considering entering into priesthood. He entered a seminary in 1956 then opted to direct his focus toward film; he graduated from NYU as a film major in 1964.\\n\\nScorsese made his first feature-length film in 1967, “Call First”, which was later retitled “Who's That Knocking at My Door”, which was followed by “Boxcar Bertha” (1972). The Film “Taxi Driver” (1976) won the Palme d'Or at the 1976 Cannes Film Festival, and received four Oscar nominations, including Best Picture, establishing Scorsese as an accomplished filmmaker operating on a highly skilled level. \\n\\nScorsese has been married five times. His first wife was Laraine Marie Brennan; they have a daughter, Catherine. He married the writer Julia Cameron in 1976; they have a daughter, Domenica Cameron-Scorsese, who is an actress and appeared in The Age of Innocence, but the marriage lasted only a year. He was married to actress Isabella Rossellini from 1979 to their divorce in 1983. He then married producer Barbara De Fina in 1985; their marriage ended in divorce as well, in 1991. He has been married to Helen Morris since 1999; they have a daughter, Francesca, who appeared in The Departed and The Aviator. He is primarily based in New York City.", '/9U9Y5GQuWX3EZy39B8nkk4NY01S.jpg', '5.089', 'Queens, New York, USA', '', 'United States Of America', 'nm0000217')
1406 (22001): Data too long for column 'alias_name' at row 1
('105134', 'Guillermo Hernández', '1917-01-01', '1990-01-01', "Guillermo Hernandez 'El Lobo',Guillermo 'Lobo Hernandez',Guillermo Hernandez 'Lobo Negro',Guillermo Hernández 'Lobo Negro','Lobo Negro',Guillermo 'Lobo' Hdez.,Guillermo 'Lobo Negro' Hernandez,Guillermo 'Lobo' Hernandez,'Lobo Negro' Guillermo Hernández,Guillermo 'Lobo Negro' Hernández,Guillermo 'Lobo' Hernández,Guillermo H. Lobo,Guillermo Hernandez M.,El Lobo Negro,Guillermo Hernandez Lobo Negro", '2', '', '', '0.6', 'Oaxaca, Mexico', '', 'Mexico', 'nm0379958')
1406 (22001): Data too long for column 'alias_name' at row 1
('200', 'Nancy Cartwright', '1957-10-25', None, "Nancy Jean Cartwright,'Nympho-Nance' Cartwright,Bartfright Cartwright,I Peed My Pants Nance,Nancy 'Freakin'' Cartwright,Nancy 'Killer Actor' Cartwright,Nancy 'Mwah Ah Aaaah' Cartwright,Nancy 'Thankenstein' Cartwright,Nancy Bartfight,Nancy Bartfright,Nancy Heart-Fright,Nancy Thankenstein Cartfright,Nasty Nancy,Nasty Nancy Cartwright,Necro-Fancy Nancy", '1', 'Nancy Campbell Cartwright (born October 25, 1957) is an American film and television actress, comedian and voice artist. She is best known for her long-running role as Bart Simpson on The Simpsons. Cartwright voices additional characters for the show.', '/40qNhyYJhSE2Yiy4pnXSZhdufO6.jpg', '4.998', ' Dayton, Ohio, USA', 'https://nancycartwright.com/', 'United States Of America', 'nm0004813')

In [19]:
count = 0
with open('data/imdb/name.basics.tsv','r',encoding='utf8') as f:
    reader = csv.reader(f, delimiter='\t')
    # for each line in the file
    for row in reader:
        if count == 0:
            count += 1
            continue
        if count >= 50000:
            break
        count += 1
        # get the movie id

        imdb_link = row[0]
        name = row[1]
        birthday = row[2]
        deathday = row[3]
        primary_profession = row[4]
        known_for = row[5]
        
        if birthday=='\\N':
            birthday=None
        if deathday=='\\N':
            deathday=None
        try:
            vals = (0,name, birthday, deathday, primary_profession, known_for, imdb_link)
            # print(vals)
            mycursor.execute(imdbPerson, vals)
            mydb.commit()
        except Exception as e:
            print(e)
            print(vals)

bytearray index out of range
(0, 'Fred Astaire', '1899', '1987', 'soundtrack,actor,miscellaneous', 'tt0031983,tt0053137,tt0072308,tt0050419', 'nm0000001')
bytearray index out of range
(0, 'Lauren Bacall', '1924', '2014', 'actress,soundtrack', 'tt0037382,tt0075213,tt0117057,tt0038355', 'nm0000002')

In [ ]:
count = 0
with open('data/imdb/imdbreducedrating.csv', 'r',encoding="utf8") as f:
    reader = csv.reader(f, delimiter=',')
    # for each line in the file
    for row in reader:

        if count == 0:
            count += 1
            continue
        print(count)
        count+=1
        imdb_link = row[0]
        rating = row[1]
        votes = row[2]
        try:
            vals = (imdb_link, rating, votes)

            mycursor.execute(ratingsql, vals)
            mydb.commit()
        except Exception as e:
            print(e)
            print(vals)
print("Entry Complete")
count=0
with open('data/movielens/links.csv', 'r',encoding="utf8") as f:
    reader = csv.reader(f, delimiter=',')
    # for each line in the file
    for row in reader:

        if count == 0:
            count += 1
            continue
        print(count)
        count+=1
        id = row[0]
        imDBId = 'tt'+row[1]
        tmdbId = row[2]
        try:
            vals = (id, imDBId, tmdbId)

            mycursor.execute(mappingsql, vals)
            mydb.commit()
        except Exception as e:
            print(e)
            print(vals)
print("Entry Complete")